<!DOCTYPE html>
<html>

<head th:replace="~{/fragments/head :: head}">

<body class="sub_page">

  <div class="hero_area">
    <div class="bg-box">
      <img src="images/nav-bg.jpg" alt="">
    </div>
    <!-- header section strats -->
    <header th:replace="~{/fragments/header :: header}">
    <!-- end header section -->
  </div>

  <!-- about section -->

  <section class="about_section layout_padding">
    <div class="container  ">

  <!-- book section -->
  <section class="book_section layout_padding">
    <div class="container">
      <div class="heading_container">
        <h2>
          Register
        </h2>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form_container">
            <form action="#"
            th:action="@{/register}"
            th:object="${account}"
            method="post"
            >
              <div>
                <input id="email" type="email" th:field="*{email}"  class="form-control" placeholder="Email" />
              </div>
              <div>
                <input id="password" type="password" th:field="*{password}" class="form-control" placeholder="Password" />
              </div>
              <div>
                <input id="firstname"  type="text" th:field="*{firstname}" class="form-control" placeholder="First name" />
              </div>
              <div class="btn_box">
                <button type="submit">
                  Register
                </button>
              </div>
            </form>
          </div>
        </div>
       
      </div>
    </div>
  </section>
  <!-- end book section -->
    </div>
  </section>

  <!-- end about section -->

  <!-- footer section -->
  <head th:replace="~{/fragments/footer :: footer}">
  <!-- footer section -->


</body>

</html>